{% extends 'cashmgr/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}New Account{% endblock %}

{% block head_block %}
  
  <script>
  
    $(document).ready( function() {
      //var file_content = window.opener.$('#file-content').length ? window.opener.$('#file-content').val();
    }); // -- end ready()

  </script>

{% endblock %}


{% block body_block %}

<div class="page-header">
  <h1>New Account</h1>
</div>

<div class="row">
  <div class="col">
    <form action="/cashmgr/add/account/" method="post">
      {% csrf_token %}
      <div class="form-group">
        {{ form.name.label_tag }}
        {{ form.name|add_class:"form-control" }}
      </div>
      <div class="form-group">
        <label for="id_atype">Account type</label>
        {{ form.atype|add_class:"form-control" }}
      </div>
      <div class="form-group">
        {{ form.notes.label_tag }}
        {{ form.notes|add_class:"form-control" }}
      </div>
      {% if ofxid %}
        <div class="form-group">
          {{ form.ofxid.label_tag }}
          {% render_field form.ofxid class="form-control" readonly="True" value=ofxid %}
        </div>
      {% endif %}
      <button type="submit" class="btn btn-primary" value="Upload"><span class="glyphicon glyphicon-save"></span> Save</button>
    </form>
  </div>
</div>

{% endblock %}
