{% extends 'cashmgr/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Add Category{% endblock %}

{% block head_block %}

<script>

$( document ).ready(function() {

  setup_autocomplete_fields({
    category_names: category_names, 
  });

  $("form#categoryform").submit(function(e) {

    var url = "/cashmgr/add/category/"; // the script where you handle the form input.

    $.ajax({
      type: "POST",
      url: url,
      data: $("form#categoryform").serialize(), // serializes the form's elements.
      success: function(data)
      {
        var data = JSON.parse(data);
        console.log(data);
        if (data.status == 'ok'){
          // data.msg contains the updates requests for the parent window.
          if(window.opener){
            window.opener.postMessage(data.msg, '*');
          }
          window.close();
        }else{
          alert('error in adding the form: ' + data.msg);
        }
      }
    });

    e.preventDefault(); // avoid to execute the actual submit of the form.
  });

});

</script>

{% endblock %}


{% block body_block %}

<div class="row">
  <div class="col col-xs-12">
    <div class="page-header" style="padding-top: 50px">
        <h1>Add a Category</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <form action="/cashmgr/add/category/" method="post" id="categoryform">

      {% csrf_token %}
      
      <input type="hidden" name="transaction" value="{{ transaction }}">
      
      <div class="form-group">
        <label for="id_name">Category Name:</label>
        {{ form.name|add_class:"form-control categoryfield" }}
      </div>
      
      <input type="submit" class="btn btn-primary" value="Create" />
    </form>    
  </div>
</div>

{% endblock %}