<html lang="en">
{% load static %}
{% load widget_tweaks %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if target_invoice %}
    <title>Invoice n: {{ target_invoice.id }}</title>
  {% else %}
    <title>New Invoice</title>
  {% endif %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  
  <script>var jsdata = {{ jsdata }};</script>
  <script src="{% static 'cashmgr/common.js' %}"></script>
  <script src="{% static 'cashmgr/tviews_inline_change_callbacks.js' %}"></script>
  <script>
  
    $(document).ready( function() {

      function save_address(edt, field){
        var retval = false;
        var pname = $('input#payee').val();
        var value = edt.val();
        url = ('/cashmgr/change/Payee/' 
             + encodeURIComponent(pname)
             + '/text/'
             + encodeURIComponent(field)
             + '/');

        console.log(url);
      
        jQuery.ajax({
          url: url ,
          dataType: 'json',
          type: "POST",
          data: ({'value': value }),
          success: function (result) {  
            if (result.status == "ok"){
              console.log(result);
              retval = true;
            }else{
              alert('Error: could not save.');
            }
          },
          async: false
        });
        return retval;
      }


      function get_payee_details(pk){
        var details = {};
        jQuery.ajax({
          url: '/cashmgr/recordinfo/Payee/' + pk + '/',
          dataType: 'json',
          success: function (result) {  
            details = result;
          },
          async: false
        });
        return details;
      }


      function payee_change_callback(edt) {
        var new_name = edt.val();
        edt.val(edt.attr('originalvalue')); 
        jQuery.ajax({
          url: '/cashmgr/payee/exists/?name=' + encodeURIComponent(new_name),
          dataType: 'json',
          success: function (result) {  
            if (result.status == "ok"){
              edt.val(new_name);
              var details = get_payee_details(result.msg.id);
              console.log(details);
              $('#id_recipient_address').val(details.invoice_address);
              $('#id_recipient_email').val(details.invoice_email);
            }else{
              // the payee is not in the database, asks the user to add it or 
              // to rollback.
              confirm_dialog( 
                'The payee is not in the database.', 
                'Do you want to create a new payee named "' + new_name + '"?',
                function() { // called on dialog confirmation
                  window.open(
                    '/cashmgr/add/payee/?name=' + encodeURIComponent(new_name),
                    '_blank',
                    'height=260,width=450'
                  );
                },
                function() {}, // called on dialog dismiss
                edt // position of dialog
              );            
            }
          },
          async: false
        });
      }

      setup_autocomplete_fields(payee_change_callback, function(){});

      


      function get_items(){
        var items = [];
        $("tbody#itemlist > tr").each(function() {
          var iname = $(this).find(".item_name").val();
          var idesc = $(this).find(".item_description").val();
          var qty = $(this).find(".item_qty").val() * 1;
          var uval = $(this).find(".item_unitprice").val() * 1.0;
          items.push({'name': iname, 'description': idesc,
                      'unit_price': uval, 'quantity': qty});
        });
        return items;
      }


      $("form#invoiceform").submit(function(e) {
        var url = "/cashmgr/add/invoice/";
        
        console.log('submitted');
        $("#items").val(JSON.stringify(get_items()));

        $.ajax({
          type: "POST",
          url: url,
          dataType: 'json',
          data: $("form#invoiceform").serialize(), // serializes the form's elements.
          success: function(data)
          {
            $('#debugdiv').html(data);
            if (data.status == 'ok'){
              window.opener.postMessage(data.msg, '*');
              window.close();
            }else{
              alert('error in adding the form: ' + data.msg);
            }
          },
          error: function(errdata){
            console.log(errdata);
            $('#debugdiv').html(errdata.responseText);
          },
        });

        e.preventDefault();
      });


      // PREVIEW
      $("button#pdf_preview_btn").click(function() {
        $("#items").val(JSON.stringify(get_items()));
        var url = "/cashmgr/preview/invoice/?" + $("form#invoiceform").serialize();
        window.open(url);
      });      


      function update_amounts(){
        totval = 0.;
        var items = $("tbody#itemlist > tr").each(function() {
          var qty = $(this).find(".item_qty").val() * 1;
          var uval = $(this).find(".item_unitprice").val() * 1.0;
          $(this).find(".item_unitprice").val(uval.toFixed(2));
          var amt = qty*uval;
          $(this).find(".item_amount").html(amt.toFixed(2));
          totval += amt;
        });
        $("#total_amount").html(totval.toFixed(2)) ;
      }

      function newitem(){
        var emptyline = '<tr><td><input type="text" class="item_name"></td>' + 
                        '<td><input type="number" class="item_qty" value="1" style="text-align:right"></td>' +
                        '<td><input type="text" class="item_description"></td>' +
                        '<td><input type="number" step="0.01" class="item_unitprice" value="0.00" style="text-align:right"></td>' +
                        '<td style="text-align:right"><span class="item_amount">0.00</span></td>' +
                        '<td><a href="#" class="item_remove_btn"><span class="glyphicon glyphicon-trash"></span></a></td></tr>';
        $("tbody#itemlist").append(emptyline);
      }

      // -- Message listener
      function listener(event) {
          console.log(event.data);
          var msg = event.data;
          if (msg.request == "update") {
              for (var i = 0; i < msg.targets.length; ++i) {
                  var target = msg.targets[i];
                  console.log(target);

                  if (target.etype == "autocomplete") { // updates the autocomplete fields

                      if (target.uid == 'add') {
                        jsdata[target.field + '_names'].push(target.value);
                        if (target.field == "payee") { // got a signal from an added payee
                          var edt = $('input#payee');
                          if (edt) {
                              edt.val(target.value);
                          }
                        }
                      }

                      if (target.uid == 'replace') {
                        var index = items.indexOf(target.old_value);
                        if (index !== -1) {
                            items[index] = target.value;
                        }
                      }
                  }
              }
          }
      }
      // -- end message listener

      if (window.addEventListener) {
          addEventListener("message", listener, false)
      } else {
          attachEvent("onmessage", listener)
      }

      $("button#add_item_btn").on("click", newitem);
      $("table#itemtable").on("blur", ".item_qty, .item_unitprice", update_amounts);
      $("table#itemtable").on('click', '.item_remove_btn', function(event){
        $(event.target).closest("tr").remove();
        update_amounts();
      });

      update_amounts(); // in the case we already have some items


      $('#save_address').click(function(){
        var edt = $('textarea#id_recipient_address');
        if( save_address(edt, 'invoice_address') ){
          $('#save_address').html('<span class="glyphicon glyphicon-floppy-saved text-success"></span><span class="text-success"> Saved! </span>').fadeIn(100);
        }
      });

      $('#save_email').click(function(){
        var edt = $('#id_recipient_email');
        if( save_address(edt, 'invoice_email') ){
          $('#save_email').html('<span class="glyphicon glyphicon-floppy-saved text-success"></span><span class="text-success"> Saved! </span>').fadeIn(100);
        }
      });

    }); // -- end ready()

  </script>
</head>
<body>
<div class="container">

<div class="row">
  <div class="col col-xs-12">
    <div class="page-header" style="padding-top: 50px">
      {% if target_invoice %}
      <h1>Invoice n: {{ target_invoice.id }}</h1>
      {% else %}
      <h1>New Invoice</h1>
      {% endif %}
    </div>
  </div>
</div>


{% if target_invoice %}
<div class="row">
  <div class="col col-xs-12">
    <a href="/cashmgr/add/invoice/?duplicate={{ target_invoice.id }}" class="btn btn-info">
      <span class="glyphicon glyphicon-duplicate"></span> Create a duplicate
    </a>
  </div>
</div>
{% endif %}

<div class="row">
    <div class="col-sm-12">
    &nbsp;
    </div>
</div>


<form action="/cashmgr/add/invoice/" method="post" id="invoiceform">
  {% csrf_token %}
  <div class="form-group">
    <label for="payee">Payee</label>
    <input type="text" id="payee" name="payee" class="form-control" value="{% if model_invoice %}{{ model_invoice.payee.name }}{% endif %}" class="payeefield">    
  </div>
  <div class="form-group row">
    <div class="col-sm-6">
      {{ form.recipient_address.label_tag }}
      {{ form.recipient_address|add_class:"form-control" }}
      <a href="#" id="save_address" class="nounderline"><span class="glyphicon glyphicon-floppy-disk"></span> Save changes</a>
    </div>
    <div class="col-sm-6">
      {{ form.recipient_email.label_tag }}
      {{ form.recipient_email|add_class:"form-control" }}
      <a href="#" id="save_email" class="nounderline"><span class="glyphicon glyphicon-floppy-disk"></span> Save changes</a>
    </div>
  </div> 
  <div class="form-group row">
    <div class="col-sm-4">
    <label for="id_date_created">Date</label>
    {{ form.date_created|add_class:"form-control" }}
    </div>  
    <div class="col-sm-4">
    <label for="id_date_created">Due Date</label>
    {{ form.date_due|add_class:"form-control" }}
    </div>
  </div>
  

  {% if target_invoice %}
  <input id="target" type="hidden" name="target" value="{{ target_invoice.id }}">
  {% else %}
  <input id="target" type="hidden" name="target" value="-1">
  {% endif %}
  <input id="items" type="hidden" name="items">

  <div class="row">
    <div class="col-xs-12">
      <h2>Items</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-info" type="button" name="add_item_btn" id="add_item_btn"><span class="glyphicon glyphicon-plus-sign"></span> Add an item</button>
    </div>
  </div>
  <table class="table" id="itemtable">
    <thead>
      <th>Item<th>
      <th>Quantity</th>
      <th>Description</th>
      <th>Unit price</th>
      <th>Amount</th>
    </thead>
    <tbody id="itemlist">
    {% if model_invoice %}
      {% for item in model_invoice.items %}
        <tr>
          <td><input type="text" class="item_name" value="{{ item.name }}"></td> 
          <td><input type="number" class="item_qty" value="{{ item.quantity }}" style="text-align:right"></td>
          <td><input type="text" class="item_description" value="{{ item.description }}"></td>
          <td><input type="number" step="0.01" class="item_unitprice" value="{{ item.unit_price }}" style="text-align:right"></td>
          <td style="text-align:right"><span class="item_amount"></span></td>
          <td><a href="#" class="item_remove_btn"><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
      {% endfor %}
    {% endif %}
      
    </tbody>
    <tr>
        <th scope="row">Total</th>
        <td> </td><td> </td><td> </td>
        <td style="text-align:right"><span id="total_amount"></span></td>
      </tr>
  </table>



  <div class="form-group">
    {{ form.notes.label_tag }}
    {{ form.notes|add_class:"form-control" }}  
  </div>
  <div class="form-group">
    {{ form.paid.label_tag }}
    {{ form.paid|add_class:"form-check-input" }}  
  </div>

    <button class="btn btn-primary" type="button" id="pdf_preview_btn"><span class="glyphicon glyphicon-open-file"></span> PDF Preview</button> 
    <button class="btn btn-primary" type="submit" id="submit_btn"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
    <button class="btn btn-primary" type="button" id="save_and_send_btn"><span class="glyphicon glyphicon-envelope"></span> Save and Send</button>
  
</form>


</body>
</html>
