{% extends 'cashmgr/base.html' %}
{% load static %}

{% block title %}Edit Payee{% endblock %}

{% block head_block %}

  



<script src="{% static 'cashmgr/js/common/responsive-fields.js' %}"></script>

<script>


// called if we receive an updated category

function updateRecord( obj ) {

  console.log('update', obj);
  // update transactions if on the page
  if ( obj.model == 'Category' ) {

    // update dictionary
    categories[ obj.id ] = obj;
    category_names = get_names( categories );
    
    // accept the change
    $('input#default_category').val( obj.name ).attr( 'valid_value', obj.name );

  }

} 

function submit_form() {

  var url = "/cashmgr/modify/payee/{{ payee.id }}/"; // the script where you handle the form input.

  $.ajax({

    type: "POST",
    url: url,
    data: $("form#payeeform").serialize(), // serializes the form's elements.
    datatype: json,
    success: handle_ajax_result(),

  });

}

function category_check(){

  return new Promise( function( resolve, reject ) {

    callback = callback || function(){};

    var name = $( 'input#default_category' ).val();

    check_if_exist({

      model: 'Category', 
      field: 'name', 
      value: name, 
      on_ok: function() {

        confirm_value(edt, name);
        resolve( $( 'input#default_category' ) );

      },
      on_fail: function() {

        request_add_record({

          model: 'Category',
          field: 'name',
          value: name,

        });

        reject( $( 'input#default_category' ) );

      }

    });

  }

}

$(document).ready( function() {



  setup_autocomplete_fields({

    category_callback: category_check,
    category_names: category_names,
  
  });

  
  $("form#payeeform").submit(function(e) {

    e.preventDefault(); // avoid to execute the actual submit of the form.
    category_check().then(submit_form); 
    
  });



// -- Message listener
  function listener(event) {
      console.log(event.data);
      var msg = event.data;
      if (msg.request == "update") {
          for (var i = 0; i < msg.targets.length; ++i) {
              var target = msg.targets[i];
              console.log(target);

              if (target.etype == "autocomplete") { // updates the autocomplete fields
                  if (target.uid == 'add') {
                      jsdata[target.field + '_names'].push(target.value);
                      if (target.field == "category") { // got a signal from an added category
                          var edt = $('input#default_category');
                          if (edt) {
                              edt.val(target.value);
                          }
                      }
                  }
                  if (target.uid == 'replace') {
                      var index = items.indexOf(target.old_value);
                      if (index !== -1) {
                          items[index] = target.value;
                      }
                  }
              }
          }
      }
  }
  // -- end message listener

  if (window.addEventListener) {

      addEventListener("message", listener, false);

  } else {

      attachEvent("onmessage", listener);

  }

}); // -- end ready()

</script>


{% endblock %}



{% block body_block %}

<h3>Edit payee</h3>

<div class="row">
  <div class="col">

    <form action="/cashmgr/modify/payee/{{ payee.id }}/" method="post" id="payeeform">
        {% csrf_token %}
        <div class="form-group">
        <table class="table">
        {{ form.as_table }}

            <tr>
                <td><label for="default_category">Default category</label></td>
                <td><input type="text" id="default_category" name="default_category" value="{{ default_category }}" class="categoryfield"></td>
            </tr>
        </table>
        </div>
        <div class="form-group">
          <label for="update_transactions">Update the category of transactions associated with this payee</label>
          <input type="checkbox" name="update_transactions" id="update_transactions">
        </div>
        <input class="btn btn-primary" type="submit" value="Submit" />
    </form>
  </div>
</div>
{% endblock %}