<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if target_mycompany %}
    <title>{{ target_mycompany.name }}</title>
  {% else %}
    <title>New Company</title>
  {% endif %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  
  <script>var jsdata = {{ jsdata }};</script>
  <script src="{% static 'cashmgr/common.js' %}"></script>
  <script src="{% static 'cashmgr/tviews_inline_change_callbacks.js' %}"></script>
  <script>
  
    $(document).ready( function() {

    }); // -- end ready()

  </script>
</head>
<body>
<div class="container">

<div class="page-header">
{% if target_mycompany %}
  <h1>{{ target_mycompany.name }}</h1>
{% else %}
  <h1>New Company</h1>
{% endif %}
</div>


name = models.CharField(max_length=400)
    address = models.TextField(null=True, blank=True, default=None)
    email = models.EmailField(null=True, blank=True, default=None) 
    logo = models.ImageField(null=True, blank=True, default=None)
    invoice_message = models.TextField(null=True, blank=True, default=None)
    invoice_subject = models.CharField(max_length=400, null=True, blank=True, default=None)
    smtp_host = models.CharField(max_length=400, null=True, blank=True, default=None)
    smtp_username = models.CharField(max_length=400, null=True, blank=True, default=None)
    smtp_password = models.CharField(max_length=400, null=True, blank=True, default=None)
    
    

<form action="/cashmgr/mycompany/" method="post" id="mycompanyform">
  {% csrf_token %}
  <div class="form-group">
    {{ form.name.label_tag }}
    {{ form.name|add_class:"form-control" }}
  </div>

  <div class="form-group">
    {{ form.address.label_tag }}
    {{ form.address|add_class:"form-control" }}
  </div>
    
  <div class="form-group">
    {{ form.email.label_tag }}
    {{ form.email|add_class:"form-control" }}
  </div>

  <div class="form-group">
    {{ form.address.label_tag }}
    {{ form.address|add_class:"form-control" }}
  </div>

  <div class="form-group">
    <table class="table">
      <tr>
        <th><label for="payee">Payee</label></th>
        <td><input type="text" id="payee" name="payee" value="{% if model_invoice %}{{ model_invoice.payee.name }}{% endif %}" class="payeefield"></td>
        <td></td>
      </tr>
      <tr>
        <th>{{ form.recipient_address.label_tag }}</th>
        <td>{{ form.recipient_address }}</td>
        <td><a href="#" id="save_address" class="nounderline"><span class="glyphicon glyphicon-floppy-disk"></span> Save changes</a></td>
      </tr>
      <tr>
        <th>{{ form.recipient_email.label_tag }}</th>
        <td>{{ form.recipient_email }}</td>
        <td><a href="#" id="save_email" class="nounderline"><span class="glyphicon glyphicon-floppy-disk"></span> Save changes</a></td>
      </tr> 
      <tr>
        <th>{{ form.date_created.label_tag }}</th>
        <td>{{ form.date_created }}</td>
        <td></td>
      </tr>
      <tr>
        <th>{{ form.date_due.label_tag }}</th>
        <td>{{ form.date_due }}</td>
        <td></td>
      </tr>
      <tr>
        <th>{{ form.notes.label_tag }}</th>
        <td>{{ form.notes }}</td>
        <td></td>
      </tr>
      <tr>
        <th>{{ form.paid.label_tag }}</th>
        <td>{{ form.paid }}</td>
        <td></td>
      </tr>
    </table>
  </div>

  {% if target_mycompany %}
  <input id="target" type="hidden" name="target" value="{{ target_mycompany.id }}">
  {% else %}
  <input id="target" type="hidden" name="target" value="-1">
  {% endif %}

  <input id="items" type="hidden" name="items">


  <h2>Items</h2>

  <table class="table" id="itemtable">
    <thead>
      <th>Item</th>
      <th>Quantity</th>
      <th>Description</th>
      <th>Unit price</th>
      <th>Amount</th>
    </thead>
    <tbody id="itemlist">
    {% if model_invoice %}
      {% for item in model_invoice.items %}
        <tr>
          <td><input type="text" class="item_name" value="{{ item.name }}"></td> 
          <td><input type="number" class="item_qty" value="{{ item.quantity }}" style="text-align:right"></td>
          <td><input type="text" class="item_description" value="{{ item.description }}"></td>
          <td><input type="number" step="0.01" class="item_unitprice" value="{{ item.unit_price }}" style="text-align:right"></td>
          <td style="text-align:right"><span class="item_amount"></span></td>
          <td><a href="#" class="item_remove_btn"><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
      {% endfor %}
    {% endif %}
      
    </tbody>
    <tr><input class="btn btn-primary" type="button" name="add_item_btn" id="add_item_btn" value="Add an item"/></tr>
    <tr>
        <th scope="row">Total</th>
        <td> </td><td> </td><td> </td>
        <td style="text-align:right"><span id="total_amount"></span></td>
      </tr>
  </table>



  <button class="btn btn-info" type="submit" id="submit_btn"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>

</form>

<div id="debugdiv"></div>

</div>
</body>
</html>
