{% load widget_tweaks %}
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Add Transactions</title>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{% static 'cashmgr/common.js' %}"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script> 
  <script>
  
    var formdata = null;

    function request_add_account( ofxid ) {

      confirm_dialog( 

        'No matching account', 'No account matches the id in the OFX file. Do you want to add an account?', 
        
        function(){

          window.open('/cashmgr/add_account?ofxid=' + encodeURIComponent( ofxid ) );
        
        }, 

        function () {},
        
        $("form#ofxform") 

      );

    }

    function close_and_reload_parent( data ) {

      if( window.opener ) {
          
        window.opener.location.reload();
    
      }

      alert('Number of parsed transactions: ' + data.msg.n_tot 
        + '\nNumber of added transactions: ' + data.msg.n_add);
      
      window.close();

    }

    function set_file() {

      var form = $("form#ofxform");
      formdata = new FormData(form[0]);

    }

    function upload_file( reload ) {

      if (formdata === null)
        return false;
      
      $.ajax({

        url: '/cashmgr/import/',
        dataType: 'json',
        data: formdata,
        method: 'POST',
        cache: false,
        contentType: false,
        processData: false,
        success: function( data ) {

          console.log( data );
          
          if ( data.status == 'ok' ) {
          
            close_and_reload_parent( data );
            return false;            
          
          } 
            
          if ( data.msg.reason == 'InvalidOfxId' ) {

            request_add_account( data.msg.ofxid );
            return false;

          } 
              
          alert('Error in adding the form:\n' + data.msg);

        },

        error: function( err ) {
          console.log( err );
        }

      });

    }

    $(document).ready( function() {

      $(':file').on( 'change', function() {
        
        set_file();

      });

      $("form#ofxform").on( 'submit', function(e) { 

        e.preventDefault();
        upload_file();
        return false; 
      
      });

    }); // -- end ready()

  </script>
  
</head>
<body>
<div class="container">

<div class="page-header">
<h1>Add transactions</h1>
</div>


    

<form class="form" action="#" method="post" enctype="multipart/form-data" id="ofxform">
    {% csrf_token %}
    <div class="form-group">
      {{ form.file.label_tag }}
      {{ form.file|add_class:"form-control" }}
    </div>
    <button type="submit" class="btn btn-primary" value="Upload"><span class="glyphicon glyphicon-upload"></span> Upload</button>
</form>

</div>
</body>
</html>



