{% load widget_tweaks %}
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Success</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</head>
<body>
<div class="container">

	<div class="page-header">
		<h1>Success</h1>
	</div>

    <div class="alert alert-success" role="alert"><span class="glyphicon glyphicon-ok success"></span> <strong>Done!</strong> 
    {{ n_tot }} transaction parsed, {{ n_add }} new transactions added.</div> 

	<input type="button" name="close" class="btn btn-info" onclick="window.parent.location.reload(false);window.close();" value="Close">

</div>
</body>
</html>

