{% extends "cashmgr/base.html" %}

{% block title %} PB - Logged out {% endblock %}

{% block body_block %}

<p>Logged out!</p>  

<a href="{% url 'login'%}">Click here to login again.</a>
{% endblock %}