{% extends "cashmgr/base.html" %}

{% block title %} PB - Password Change Confirmation {% endblock %}

{% block body_block %}

<h1>The password has been changed!</h1>
<p><a href="{% url 'login' %}">log in again?</a></p>

{% endblock %}