{% extends "cashmgr/base.html" %}

{% block title %} PB - Reset Password {% endblock %}

{% block body_block %}

<form action="" method="post">{% csrf_token %}
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
        <p>Email: {{ form.email }}</p> 
    <input type="submit" class="btn btn-default btn-lg" value="Reset password" />
</form>

{% endblock %}