
table.my-table
{
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
}

table.my-table th
{
    border: 0px; 
    line-height: 150%;
    font-weight: normal;
    text-align: center;
}

table.my-table thead tr{
    border-bottom: 1px solid #888888;
}


table.my-table tbody td
{
    padding: 10px;
    line-height: 150%;
    border-bottom: solid 1px whitesmoke;
    border-left: solid 1px whitesmoke;
    border-right: solid 1px whitesmoke;
}


.tablerow_incomplete_True
{
    background: mistyrose ;
}

a, a:visited
{
    text-decoration: none;
    color: #888888;
}

.tabletitle a, .tabletitle a:hover, .tabletitle a:visited
{
    text-decoration: none;
    color: #4285F4;
}

.pagination
{
    padding-top: 20px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    line-height: 40px;
}

.step-links a, .step-links a:hover, .step-links a:visited
{
    display: table-cell;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    color: #4285F4;
}

canvas
{
    max-height: 400px;
}
