{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- icon -->
  <link rel="shortcut icon" href="{% static 'cashmgr/pandabooks.ico' %}" type="image/x-icon">

  <title>{% block title %}{% endblock %}</title>

  <!-- JQUERY -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

  <!-- JQUERY UI -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <!-- BOOTSTRAP  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <!-- FONT AWESOME -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/katex.min.css" integrity="sha384-TEMocfGvRuD1rIAacqrknm5BQZ7W7uWitoih+jMNFXQIbNl16bO8OZmylH/Vi/Ei" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/katex.min.js" integrity="sha384-jmxIlussZWB7qCuB+PgKG1uLjjxbVVIayPJwi6cG6Zb4YKq0JIw+OMnkkEC7kYCq" crossorigin="anonymous"></script>

  <script src="{% static 'cashmgr/common.js' %}"></script>
  <script>
    // Setup general data which is passed from django to the window.
    var categories = {
      {% if categories %}
        {% for x in categories %}
          {{ x.id }} : {{ x.basic_json|safe }} ,
        {% endfor %}
      {% endif %}
    };
  
    var payees = {
      {% if payees %}
        {% for x in payees %}
          {{ x.id }} : {{ x.basic_json|safe }} ,
        {% endfor %}
      {% endif %}
    };

    function get_names( objects ) {

      var names = new Array();
      for ( k in objects ) {
        names.push( objects[k].name );
      }
      return names;
    
    }

    var category_names = get_names( categories );
    var payee_names = get_names( payees );

    // Add format to string prototype.
    if (!String.prototype.format) {
      String.prototype.format = function() {
        var args = arguments;
        return this.replace(/{(\d+)}/g, function(match, number) { 
          return typeof args[number] != 'undefined'
            ? args[number]
            : match
          ;
        });
      };
    }

  </script>



  {% block head_block %}{% endblock %}
  
</head>

<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="/cashmgr/">
    <span><img src="{% static 'cashmgr/pandabooks.ico' %}" height="25" width="25"></span>
    <strong>P</strong>anda<strong>B</strong>ooks
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="/cashmgr/">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/cashmgr/transactions/">Transactions</a></li>
      <li class="nav-item"><a class="nav-link" href="/cashmgr/report_center/">Reports</a></li>
      <li class="nav-item"><a class="nav-link" href="/cashmgr/payees/">Payees</a></li>
      <li class="nav-item"><a class="nav-link" href="/cashmgr/invoices/">Invoices</a></li>
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
        <li class="nav-item"> 
          <span class="navbar-text  text-nowrap">
            Logged in as <strong>{{ user.username }}</strong>
            (<a href="/cashmgr/accounts/logout/">logout</a>)
          </span>
        </li> 
      {% else %}
        <li class="nav-item"> 
          <a class="nav-link" href="/cashmgr/accounts/login/">
            Log in
          </a>
        </li> 
      {% endif %}
      <li class="nav-item"><a class="nav-link" href="/cashmgr/cashmgr/admin/" target="_blank">Admin view</a></li>
    </ul>

  </div>
</nav>

<!--<div class="container">-->
  {% block body_block %}{% endblock %}


  <div class="modal fade" id="base-modal-window" tabindex="-1" role="dialog" aria-labelledby="base-modal-title" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="base-modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="base-modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="base-modal-btn-ok">Ok</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="base-modal-title-btn-cancel">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    
    var BaseModal = new function () {
      var self = this;
      self.modal = $('#base-modal-window');
      self.title = $('#base-modal-title');
      self.body = $('#base-modal-body');
      self.ok_btn = $('#base-modal-btn-ok');
      self.cancel_btn = $('#base-modal-title-btn-cancel');
      self.show = function() {
        self.modal.modal('show');
      }
      self.hide = function() {
        self.modal.modal('hide');
      }
      self.on_ok = function() {};
      self.on_cancel = function() {}
      self.ok_btn.on('click', function() {
        self.on_ok();
        self.hide();
      })
      self.cancel_btn.on('click', function() {
        self.on_cancel();
      })
    }

  </script>

</div>

</body>
</html>
