{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Incomplete transactions</title>

  <link rel="stylesheet" type="text/css" href="{% static 'cashmgr/style.css' %}" /><html lang="en">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
  <script>var jsdata = {{ jsdata }};</script>
  <script src="{% static 'cashmgr/common.js' %}"></script>
  <script src="{% static 'cashmgr/tviews_inline_change_callbacks.js' %}"></script>

  <script>
$(document).ready( function() {
    $( ".quick_add_btn" ).on('click', function (){
        var t_id = $( this ).attr('tid');
        console.log('calling ' + '/cashmgr/quick_add/' + t_id +'/') ;
        jQuery.ajax({
            url: '/cashmgr/quick_add/' + t_id +'/',
            dataType: 'json',
            success: function (result) {
                if (result.status == "fail"){
                    alert('a problem occourred on quick add: ' + result.msg );
                }else{          
                    window.location.reload(false);         
                }
            },
            async: false
        });
    });
});

</script>
</head>
<body>

<h1>Incomplete transactions</h1>

{% if transactions %}

<table border=1>
<tr>
    <td class="tabletitle">
        <a href="?ob=account{% if ob == "account" %}&obd={{ iobd }}{% endif %}">{% if ob == "account" %}{{ iobd }}{% endif %}Account</a>
    </td>
    <td class="tabletitle">
        <a href="?ob=date{% if ob == "date" %}&obd={{ iobd }}{% endif %}">{% if ob == "date" %}{{ iobd }}{% endif %}Date</a>
    </td>
    <td class="tabletitle">
        <a href="?ob=description{% if ob == "description" %}&obd={{ iobd }}{% endif %}">{% if ob == "description" %}{{ iobd }}{% endif %}Description</a>
    </td>
    <td class="tabletitle">
        <a href="?ob=payee{% if ob == "payee" %}&obd={{ iobd }}{% endif %}">{% if ob == "payee" %}{{ iobd }}{% endif %}Payee</a>
    </td>
    <td class="tabletitle">
        <a href="?ob=category{% if ob == "category" %}&obd={{ iobd }}{% endif %}">{% if ob == "category" %}{{ iobd }}{% endif %}Category</a>
    </td>
    <td class="tabletitle">
        <a href="?ob=amount{% if ob == "amount" %}&obd={{ iobd }}{% endif %}">{% if ob == "amount" %}{{ iobd }}{% endif %}Amount</a>
    </td>
    
</tr>
{% for transaction in transactions %}
    <tr>
        <td> {{ transaction.account }} </td>
        <td> {{ transaction.date|date:"M d, Y" }} </td>
        <td> {{ transaction.description }} </td>
        <td> <input type="edit" name="pay_{{ transaction.id }}" id="pay_{{ transaction.id }}" 
                    class="payeefield" value="{{ transaction.payee }}" chid="{{ transaction.id }}"> </td>
        <td> <input type="edit" name="cat_{{ transaction.id }}" id="cat_{{ transaction.id }}" 
                    class="categoryfield" value="{{ transaction.category }}" chid="{{ transaction.id }}"> </td>
        <td style="text-align: right;"> {{ transaction.amount }} </td>
        <td style="text-align: center;">
            Payee: <strong>{{ transaction.suggested_payee }}</strong><br>
            Category: <strong>{{ quick_add_category }}</strong>
            <input type="button" class="quick_add_btn" name="btn_quick_add_{{ transaction.id }}" tid="{{ transaction.id }}" value="Quick add payee">
        </td>
    </tr>
{% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if transactions.has_previous %}
            <a href="?page={{ transactions.previous_page_number }}&ob={{ ob }}&obd={{ obd }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ transactions.number }} of {{ transactions.paginator.num_pages }}.
        </span>

        {% if transactions.has_next %}
            <a href="?page={{ transactions.next_page_number }}&ob={{ ob }}&obd={{ obd }}">next</a>
        {% endif %}
    </span>
</div>


{% else %}
<p> No transactions. </p>
{% endif %}