{% extends 'cashmgr/base.html' %}

{% block title %} Accounts {% endblock %}

{% block body_block %}
  <div class="page-header" style="padding-top: 50px">
    <h1>Your accounts</h1>
  </div>
  
  {% if accounts %}
    <table class="table table-hover">
      <thead>
        <tr>
            <th>Account</th>
            <th style="text-align: right;">Balance</th>
            <th style="text-align: right;"># of Transactions</th>
            <th style="text-align: right;">Last Transaction</th>
        </tr>
      </thead>
      <tbody>
      {% for account in accounts %}
          <tr>
          	<td><a href="/cashmgr/transactions/?filter__account__id={{ account.id }}">{{ account }}</a></td>
          	<td style="text-align: right;">{{ account.balance|floatformat:2 }}</td>
            <td style="text-align: right;">{{ account.ntransactions }}</td>
            <td style="text-align: right;">{{ account.last_transaction_date|date:"d F Y" }}</td>
          </tr>
      {% endfor %}
      <tr>
          <th>Total</th>
          <td style="text-align: right;">{{ total_balance|floatformat:2 }}</td>
          <td style="text-align: right;">{{ total_transactions }}</td>
          <td> </td>
      </tr>
      </tbody>
    </table>
  {% else %}
    <p>No accounts yet.</p>
  {% endif %}

  <div class="commands">
    <!--
    <button name="add_account_btn" id="add_account_btn" 
            onclick="javascript:window.open('/cashmgr/add_account', '_blank');" class="btn btn-success">
              <span class="glyphicon glyphicon-plus-sign"></span> Add Account
    </button>
  -->
    <button name="import_btn" id="import_btn" onclick="javascript:window.open('/cashmgr/import/', '_blank');" class="btn btn-info">
      <span class="glyphicon glyphicon-upload"></span> Upload a Ofx file
    </button>

  </div>
{% endblock %}