{% extends 'cashmgr/base.html' %}

{% block title %}Invoices{% endblock %}

{% block head_block %}
  <script>var jsdata = {{ jsdata }};</script>


  <script>
    $(document).ready(function() {

      // -- Message listener
      function listener(event) {
          console.log(event.data);
          var msg = event.data;
          if (msg.request == "update" || msg.request == "add") {
              window.location.reload(true);
          }
      }
      // -- end message listener

      if (window.addEventListener) {
          addEventListener("message", listener, false)
      } else {
          attachEvent("onmessage", listener)
      }

    });// -- end ready() function
  </script>

  <style type="text/css">
    .form-inline label {
      margin:15px 3px;
    }
  </style>

{% endblock %}


{% block body_block %}

<div class="row">
  <div class="col col-xs-12">
    <div class="page-header" style="padding-top: 50px">
        <h1>Invoices</h1>
    </div>
  </div>
</div>

<div class="row">
    <div class="col col-xs-12">
        <div class="btn-group" role="group">
        <a href="/cashmgr/add/invoice/" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> New Invoice</a>
        <a href="/cashmgr/modify/mycompany" class="btn btn-info" target="_blank"><span class="glyphicon glyphicon-pencil"></span> Edit Company Details</a>
        <a class="btn btn-info" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-wrench"></span> Edit Filters</a>
    </a>
    </div>
    </div>
</div>

<div class="collapse" id="collapseExample">
  <div class="card card-block">

<form method="get" action="/cashmgr/invoices/" target="_self" class="form-inline">
<input type="hidden" name="page" value="{{ transactions.number }}">
<input type="hidden" name="orderby" value="{{ orderby }}">
<input type="hidden" name="orderdir" value="{{ orderdir }}">

<div class="form-group"><!-- Filters -->
    <label class="mr-sm-2" for="filter__payee__id" {% if filter__payee__id %}style="color:#4285F4"{% endif %}>Payee</label>
    <select class="form-control" name="filter__payee__id" id="filter__payee__id">
        <option value="None">-- All --</option>
        {% for payee in payees %}
            <option value="{{ payee.id }}" {% if filter__payee__id|add:"0" == payee.id %}selected{% endif %}>{{ payee.name }}</option>
        {% endfor %}
    </select>

    <label class="mr-sm-2" for="filter__date_created__from" {% if filter__date_created__from %}style="color:#4285F4"{% endif %}>From</label>
    <input class="form-control" 
            type="date" 
            name="filter__date_created__from" 
            id="filter__date_created__from" 
            {% if filter__date_created__from %}value="{{ filter__date_created__from }}"{% endif %}>

    <label class="mr-sm-2" for="filter__date_created__to" {% if filter__date_created__to %}style="color:#4285F4"{% endif %}>To</label>
    <input class="form-control" type="date" name="filter__date_created__to" id="filter__date_created__to" {% if filter__date_created__to %}value="{{ filter__date_created__to }}"{% endif %}>

    <label class="mr-sm-2" for="filter__paid" {% if filter__paid %}style="color:#4285F4"{% endif %}>Paid/Open</label>
    <select class="form-control" name="filter__paid" id="filter__paid">
        <option value="None">-- All --</option>
        <option value="True" {% if filter__paid == "True" %}selected{% endif %}>Paid</option>
        <option value="False" {% if filter__paid == "False" %}selected{% endif %}>Open</option>
    </select>

    <button type="submit" name="flt-submit-btn" class="btn btn-info"><span class="glyphicon glyphicon-refresh"></span> Update Filters</button>
</div>


</form>
<!-- End filters -->

</div>
</div>
    
<div class="row">
    <div class="col-sm-12">
    &nbsp;
    </div>
</div>
{% if invoices %}

<table class="table table-striped">
<tr>
    <th>
        {% if orderby == 'pk' %}
            {% if orderdir == '-' %}
                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
            {% else %}
                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            {% endif %}
        {% endif %}
        <a href="?{{ filter_get_str }}&orderby=pk{% if orderby == 'pk' %}&orderdir={{ iorderdir }}{% endif %}">Invoice #</a>
    </th>
    <th>
        {% if orderby == 'date_created' %}
            {% if orderdir == '-' %}
                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
            {% else %}
                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            {% endif %}
        {% endif %}
        <a href="?{{ filter_get_str }}&orderby=date_created{% if orderby == 'date_created' %}&orderdir={{ iorderdir }}{% endif %}">Date Created</a>
    </th>
    <th>
        {% if orderby == 'payee' %}
            {% if orderdir == '-' %}
                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
            {% else %}
                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            {% endif %}
        {% endif %}
        <a href="?{{ filter_get_str }}&orderby=payee{% if orderby == 'payee' %}&orderdir={{ iorderdir }}{% endif %}">Payee</a>
    </th>
    <th>
        {% if orderby == 'open_balance' %}
            {% if orderdir == '-' %}
                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
            {% else %}
                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            {% endif %}
        {% endif %}
        <a href="?{{ filter_get_str }}&orderby=open_balance{% if orderby == 'open_balance' %}&orderdir={{ iorderdir }}{% endif %}">Open Balance</a>
    </th>
    <th>
        {% if orderby == 'date_due' %}
            {% if orderdir == '-' %}
                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
            {% else %}
                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            {% endif %}
        {% endif %}
        <a href="?{{ filter_get_str }}&orderby=date_due{% if orderby == 'date_due' %}&orderdir={{ iorderdir }}{% endif %}">Date Due</a>
    </th>
    <th>
        {% if orderby == 'date_paid' %}
            {% if orderdir == '-' %}
                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
            {% else %}
                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            {% endif %}
        {% endif %}
        <a href="?{{ filter_get_str }}&orderby=date_paid{% if orderby == 'date_paid' %}&orderdir={{ iorderdir }}{% endif %}">Date Paid</a>
    </th>
    <th>
        {% if orderby == 'amount' %}
            {% if orderdir == '-' %}
                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
            {% else %}
                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            {% endif %}
        {% endif %}
        <a href="?{{ filter_get_str }}&orderby=amount{% if orderby == 'amount' %}&orderdir={{ iorderdir }}{% endif %}">Amount</a>
    </th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    
</tr>
{% for invoice in invoices %}

    <tr class="{% if not invoice.paid %}warning{% endif %}" id="invoice_{{ invoice.id }}">
        <td> {{ invoice.pk }} </td>
        <td> {{ invoice.date_created|date:"M d, Y" }} </td>
        <td> {{ invoice.payee }} </td>
        <td class="text-center"> {{ invoice.open_balance|floatformat:2 }} </td>
        <td> {{ invoice.date_due|date:"M d, Y" }} </td>
        <td> {{ invoice.date_paid|date:"M d, Y" }} </td>
        <td class="text-center"> {{ invoice.amount|floatformat:2 }} </td>
        <td> 
            <a href="/cashmgr/modify/invoice/{{ invoice.id }}/" target="_blank"> 
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </a> 
        </td>
        <td> 
            <a href="/cashmgr/receivepayment/{{ invoice.id }}/" target="_blank">
                <span class="glyphicon glyphicon-usd" aria-hidden="true"></span> 
            </a>
        </td>
        <td> 
            <a href="/cashmgr/sendinvoice/{{ invoice.id }}/" target="_blank">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> 
            </a>
        </td>
        <td> 
            <a href="#" id="delete_invoice_{{ invoice.id }}">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 
            </a>
        </td>
        
    </tr>
{% endfor %}
</table>


{% if invoices.has_other_pages %}
<nav aria-label="Page navigation" class="d-flex flex-row">
    <ul class="pagination justify-content-center">
        {% if invoices.has_previous %}
            <li><a href="?{{ filter_get_str }}&page={{ invoices.previous_page_number }}&orderby={{ orderby }}&orderdir={{ orderdir }}">previous</a></li>
        {% endif %}
        {% for p in page_list %}
            {% if p == invoices.number %}
                <li class="page-item active"><span class="page-link">Page {{ p }} of {{ invoices.paginator.num_pages }}</span></li>
            {% else %}
                <li class="page-item"><a href="?{{ filter_get_str }}&page={{ p }}&orderby={{ orderby }}&orderdir={{ orderdir }}" class="page-link">{{ p }}</a></li>
            {% endif %}
        {% endfor %}
        {% if invoices.has_next %}
            <li><a href="?{{ filter_get_str }}&page={{ invoices.next_page_number }}&orderby={{ orderby }}&orderdir={{ orderdir }}">next</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{% else %}
<div class="alert alert-info">
No invoice matches your query.
</div>
{% endif %}


{% endblock %}