{% extends 'cashmgr/base.html' %}
{% load static %}

{% block title %}{{ payee.name }}{% endblock %}

{% block head_block %}
    
  <script>var jsdata = {{ jsdata }};</script>
  <script src="{% static 'cashmgr/tviews_inline_change_callbacks.js' %}"></script>
  <script>
    $(document).ready(function() {
      setup_autocomplete_fields(payee_change_callback, category_change_callback);

      // -- Message listener
      function listener(event) {
          console.log(event.data);
          var msg = event.data;
          if (msg.request == "update") {
              for (var i = 0; i < msg.targets.length; ++i) {
                  var target = msg.targets[i];
                  console.log(target);

                  if (target.etype == "autocomplete") { // updates the autocomplete fields
                      if (target.uid == 'add') {
                          jsdata[target.field + '_names'].push(target.value);
                      }
                      if (target.uid == 'replace') {
                          var index = items.indexOf(target.old_value);
                          if (index !== -1) {
                              items[index] = target.value;
                          }
                      }

                  }

                  if (target.etype == "transaction") {
                      if (target.field == "category" || target.field == "payee") {
                          var edt = $('input#' + target.field + '_' + target.uid);
                          if (edt) {
                              edt.val(target.value);
                          }
                      }
                      if (target.field == "incomplete") {
                          var row = $("tr#transaction_" + target.uid);
                          if (row) {
                              if (target.value == true)
                                  row.className = "warning";
                              else
                                  row.className = "";
                          }
                      }
                  }
              }
          }
      }
      // -- end message listener

      if (window.addEventListener) {
          addEventListener("message", listener, false)
      } else {
          attachEvent("onmessage", listener)
      }

    });// -- end ready() function

  </script>

{% endblock %}


{% block body_block %}

  <div class="row">
    <div class="col col-xs-12">
      <div class="page-header" style="padding-top: 50px">
        <h1>{{ payee.name }}</h1>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col col-xs-10 col-sm-10">
      <h2><small>Default Category: {{ payee.default_category }}</small></h2>
    </div>
    <div class="col col-xs-2 col-sm-2">
      <a href="/cashmgr/modify/payee/{{ payee.id }}/" target="_blank"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <ul>
        <li>Transactions: {{ n_transactions }}</li>
        <li>Invoices: {{ n_invoices }}</li>
        <li>Total balance: {{ payee.balance|floatformat:2 }}</li>
        <li>Open balance: {{ open_balance|floatformat:2 }}</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>Transactions ({{ n_transactions }})</h3>
      {% if n_transactions > 0 %}  
        <table class="table table-striped">
          <thead>
            <th>Account</th>
            <th>Type</th>
            <th>Date</th>
            <th>Description</th>
            <th>Payee</th>
            <th>Category</th>
            <th>Amount</th>
          </thead>
          <tbody>
          {% for transaction in transactions %}
            <tr class="{% if transaction.incomplete %}warning{% endif %}" id="transaction_{{ transaction.id }}">
                <td> {{ transaction.account }} </td>
                <td> {{ transaction.ttype }} </td>
                <td> {{ transaction.date|date:"M d, Y" }} </td>
                <td> {{ transaction.description }} </td>
                <td> <input type="edit" name="payee_{{ transaction.id }}" id="payee_{{ transaction.id }}" 
                            class="payeefield" value="{{ transaction.payee }}" chid="{{ transaction.id }}"> </td>
                <td> <input type="edit" name="category_{{ transaction.id }}" id="category_{{ transaction.id }}" 
                            class="categoryfield" value="{{ transaction.category }}" chid="{{ transaction.id }}"> </td>
                <td style="text-align: right;"> {{ transaction.amount }} </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>Invoices ({{ n_invoices }})</h3>
      {% if n_invoices > 0 %}
      <table class="table table-striped">
        <thead>
          <th>Date Created</th>
          <th>Date Due</th>
          <th>Amount</th>
          <th>Open balance</th>
          <th>Date Paid</th>
        </thead>
        <tbody>
          {% for invoice in invoices %}
          <tr {% if invoice.paid is not True %}class="warning"{% endif %}>
            <td>{{ invoice.date_created|date:"M d, Y" }}</td>
            <td>{{ invoice.date_due|date:"M d, Y" }}</td>
            <td>{{ invoice.amount }}</td>
            <td>{{ invoice.open_balance }}</td>
            <td>{{ invoice.date_cashed|date:"M d, Y"}}</td>
          </tr>
          {% endfor %}    
        </tbody>
      </table>
      {% endif %}
    </div>
  </div>
    
{% endblock %}