{% extends 'cashmgr/base.html' %}
{% load static %}

{% block title %}Payees{% endblock %}

{% block head_block %}

  <script src="{% static 'cashmgr/tviews_inline_change_callbacks.js' %}"></script>

  <script>

    // function called when we receive a notification of a record change from the server
    function updateRecord( obj ) {

      console.log('update', obj);
      
      // only payees in this page
      if ( obj.model == 'Payee' ) {

        // update dictionary and names
        payees[ obj.id ] = obj;
        pnames = get_names(payees);

        // update stuff if changed
        $('a#payee_name_' + obj.id ).text( obj.name );
        $('span#default_category_' + obj.id ).text( obj.default_category );
        $('span#lookup_strings_' + obj.id ).text( obj.lookup_strings );

      }

    }

    // fuction to call when a search for a payee is successful
    function search_payee_found( uid ) {

      $('button#payee_search_btn').off( 'click' ).click( function(e) {

        e.preventDefault();
        window.open("/cashmgr/details/payee/" + uid + "/", "_blank");
      
      });
      
    }

    // function called when the search is not successful
    function search_payee_not_found( name ) {

      $('button#payee_search_btn').off( 'click' ).click( function(e) {

        e.preventDefault();
        $('div#payee_search_alerts').html(
          
          `<div class="alert alert-danger alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Error:</strong> Cannot find payee <i> ${name} </i> 
          </div>`
        
        );

      });

    }

    // when we search for a payee we request the server if it exists
    function search_change_callback( edt ) {

      var name = edt.val();

      if ( name.length == 0 )
        return false

      jQuery.ajax({

        url: '/cashmgr/query/record/',
        
        data: {
        
          model: 'Payee',
          field: 'name',
          value: name,
        
        },
        
        dataType: 'json',
        
        success: function( response ) {

          console.log( response );

          if ( response.status == 'ok' )
            search_payee_found( response.msg.id );
          
          else
            search_payee_not_found( name );

        },

      });

    }


    
    $(document).ready(function() {

      // setups autocomplete fields
      setup_autocomplete_fields({

        payee_callback: search_change_callback, 
        payee_names: payee_names,
        
      });

      setup_sortable_headers('name', 'des');

      $('.category_text').each( function( i, el ) {
        $( el ).html( display_category( $( el ).html() ) );
      })

      // -- Message listener
       function listener(event) {
      
          console.log('listener', event.data);
          var msg = event.data;
          
          console.log('request', msg.request, msg.targets);
          if (msg.request == "update") {
          
            for (var i = 0; i < msg.targets.length; ++i) {
              
              updateRecord( msg.targets[ i ] );
                 
            }

          }

        } // -- end message listener

        if ( window.addEventListener ) {

            addEventListener( "message", listener, false );

        } else {
            
            attachEvent("onmessage", listener);

        }


        // -- Search button
        // $("button#payee_search_btn").click( function(){
        //   var pname = $("input#payee_search_field").val();
        //   $('div#payee_search_alerts').html("");

        //   jQuery.ajax({
        //     url: '/cashmgr/payee/exists/?name=' + encodeURIComponent(pname),
        //     dataType: 'json',
        //     success: function (result) {      
        //       if (result.status == "ok"){
        //         uid = result.msg.id;
        //         window.open("/cashmgr/details/payee/" + uid + "/", "_blank");        
        //       }else{
        //         $('div#payee_search_alerts').html(
        //           '<div class="alert alert-danger alert-dismissable">' +
        //           '<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>' +
        //           '<strong>Error:</strong> Cannot find payee <i>' + pname + '</i>' +
        //           '</div>');
        //       }
        //     },
        //     async: false
        //   });
        
      // });

      }); // -- end ready() function


  </script>

{% endblock %}



{% block body_block %}

<div class="row">
  <div class="col col-xs-12">
    <div class="page-header" style="padding-top: 50px">
        <h1>Payees</h1>
    </div>
  </div>
</div>



{% if payees %}

  <div class="row">
    <div class="col col-xs-12">
      <form class="form-inline">
        <label for="payee_search_field">Search for a specific payee:</label>
        <input type="text" name="payee_search_field" id="payee_search_field" class="payeefield form-control">
        <button class="btn btn-primary" id="payee_search_btn">Lookup payee</button>
      </form>
      <div id="payee_search_alerts"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      &nbsp;
    </div>
  </div>

  <table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
        <th><a href="" class="sort-switch text-white" sort-field="name">Name</a></th>
        <th><a href="" class="sort-switch text-white" sort-field="default_category">Default category</a></th>
        <th><a href="" class="sort-switch text-white" sort-field="lookup_strings">Lookup strings</a></th>
        <th><a href="" class="sort-switch text-white" sort-field="balance">Balance</a></th>
        <th><a href="" class="sort-switch text-white" sort-field="ntransactions"># of transactions</a></th>
        <th><a href="" class="sort-switch text-white" sort-field="last_transaction_date">Last transaction</a></th>
        <th>Edit</th>
    </tr>
  </thead>
  <tbody>
  {% for p in page_payees %}
      <tr class="{% if transaction.incomplete %}warning{% endif %}">
          <td> <a href="/cashmgr/details/payee/{{ p.id }}/" id="payee_name_{{ p.id }}">{{ p.name }}</a></td>
          <td> <span id="default_category_{{ p.id }}" class="category_text">{{ p.default_category }}</span></td>
          <td> <span id="lookup_strings_{{ p.id }}">{{ p.lookup_strings }}</span></td>
          <td> {{ p.balance|floatformat:2 }} </td>
          <td> {{ p.ntransactions }} </td>
          <td> {{ p.last_transaction_date|date:"Y b d" }} </td>
          <td> <a href="/cashmgr/modify/payee/{{ p.id }}/" target="_blank"><i class="fas fa-edit"></i></span></a></td>
      </tr>
  {% endfor %}
  </tbody>
  </table>


  {% if page_payees.has_other_pages %}
    <nav aria-label="Page navigation" class="d-flex flex-row">
        <ul class="pagination justify-content-center">
            {% if page_payees.has_previous %}
                <li><a href="?{{ filter__get_str }}&page={{ page_payees.previous_page_number }}&ob={{ ob }}&obd={{ obd }}">previous</a></li>
            {% endif %}
            {% for p in page_list %}
                {% if p == page_payees.number %}
                    <li class="page-item active"><span class="page-link">Page {{ p }} of {{ page_payees.paginator.num_pages }}</span></li>
                {% else %}
                    <li class="page-item"><a href="?{{ filter__get_str }}&page={{ p }}&ob={{ ob }}&obd={{ obd }}" class="page-link">{{ p }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_payees.has_next %}
                <li><a href="?{{ filter__get_str }}&page={{ page_payees.next_page_number }}&ob={{ ob }}&obd={{ obd }}">next</a></li>
            {% endif %}
        </ul>
    </nav>
  {% endif %}

  {% else %}
    <div class="alert alert-info">
      No Payees yet.
    </div>
  {% endif %}

{% endblock %}