<html lang="en">
{% load static %}
<head>
  <base href="http://localhost:8000/cashmgr">
  <title>Invoice n: {{ invoice.id }}</title>
 
      <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  
</head>
<body>
<div class="container">

<div class="row">
  <div class="col col-xs-6">
    <p>
    <strong>Yachaywasi Inc.</strong><br/>
    934 Hauser Blvd. <br/>
    Los Angeles, CA 90036 US <br/>
    info@yachaywasy.us <br/>
    </p>
  </div>
  <div class="col col-xs-6 text-right">
    <img src="{% static 'cashmgr/logo.png' %}" height="200px" />
  </div>
</div>

<p>
  <strong>Invoice to:</strong>
</p>

<div style="border: 1px solid black; margin:1em; padding: 1em;">
  
  {{ invoice.payee|linebreaks }}  
  {{ invoice.recipient_address|linebreaks }}
  {{ invoice.recipient_email|linebreaks }}

</div>
  

<table class="table">
  <thead>
    <th>
      Invoice #
    </th>
    <th>
      Date
    </th>
    <th>
      Total Due
    </th>
    <th>
      Due Date
    </th>
  </thead>
  <tbody>
    <td>
      {{ invoice.id }}
    </td>
    <td>
      {{ invoice.date_created|date:"M d, Y" }}
    </td>
    <td>
      {{ invoice.amount|floatformat:2 }} $
    </td>
    <td>
      {{ invoice.date_due|date:"M d, Y" }}
    </td>
  </tbody>
</table>

  <strong>Details</strong>

  <table class="table table-striped">
    <thead>
      <th style="text-align:center">Item</th>
      <th style="text-align:center">Quantity</th>
      <th style="text-align:center">Description</th>
      <th style="text-align:center">Unit price</th>
      <th style="text-align:center">Amount</th>
    </thead>
    <tbody id="itemlist">
      {% for item in invoice.items %}
        <tr>
          <td>{{ item.name }}</td> 
          <td style="text-align:center;">{{ item.quantity }}</td>
          <td>{{ item.description }}</td>
          <td style="text-align:right; padding-right: 2em">{{ item.unit_price|floatformat:2 }}</td>
          <td style="text-align:right; padding-right: 2em">{{ item.amount|floatformat:2 }} $</td>
        </tr>
      {% endfor %}
      
    </tbody>
    
      <th scope="row">Total</th>
        <td> </td><td> </td><td> </td>
        <td style="text-align:right; padding-right: 2em">{{ invoice.amount|floatformat:2 }} $</td>
      </tr>
  </table>

</div>
</body>
</html>
