{% extends 'cashmgr/base.html' %}
{% load static %}

{% block title %}Reports{% endblock %}

{% block head_block %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>    
  <script>var jsdata = {{ jsdata }};</script>

  <!-- Multiselect <script src="{% static 'cashmgr/tree-multiselect/src/tree-multiselect.js' %}"></script> -->
  <script type="text/javascript" src="https://cdn.rawgit.com/patosai/tree-multiselect/v2.1.3/dist/jquery.tree-multiselect.min.js"></script>
  <link rel="stylesheet" href="https://cdn.rawgit.com/patosai/tree-multiselect/v2.1.3/dist/jquery.tree-multiselect.min.css"/>

  <script>
  $(document).ready( function() {

    $( 'select#filter-category' ).treeMultiselect({
      searchable: true, 
      searchParams: ['section', 'text'],
      enableSelectAll: true,
      hideSidePanel: true,
      startCollapsed: true,
    });

    $( "input.ui-checkbox" ).checkboxradio();

    function windowDimensions() { // prototype/jQuery compatible
        var myWidth = 0, myHeight = 0;
        if( typeof( window.innerWidth ) == 'number' ) {
            //Non-IE or IE 9+ non-quirks
            myWidth = window.innerWidth;
            myHeight = window.innerHeight;
        } else if( document.documentElement && ( document.documentElement.clientWidth || document.documentElement.clientHeight ) ) {
            //IE 6+ in 'standards compliant mode'
            myWidth = document.documentElement.clientWidth;
            myHeight = document.documentElement.clientHeight;
        } else if( document.body && ( document.body.clientWidth || document.body.clientHeight ) ) {
            //IE 5- (lol) compatible
            myWidth = document.body.clientWidth;
            myHeight = document.body.clientHeight;
        }
        if (myWidth < 1) myWidth = screen.width; // emergency fallback to prevent division by zero
        if (myHeight < 1) myHeight = screen.height; 
        return [myWidth,myHeight];
    }
    var dim = windowDimensions();
    myIframe = $('#report-iframe'); // changed the code to use jQuery
    myIframe.height((dim[1]) + "px");

  });
  </script>

  <script type="text/javascript">
        
    </script>

{% endblock %}

{% block body_block %}

  <div class="row">
    <div class="col col-xs-12">
      <div class="page-header">
        <h1>Reports</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-sm-8">
      <iframe src="" name="report-iframe" src="/cashmgr/report/"
      width="100%" height="100%" style="border:1px solid black" id="report-iframe"></iframe>
    </div>

    <div class="col col-sm-4"> <!--col-md-auto-->
      <h2>Filters</h2>
      <form method="post" action="/cashmgr/report/" target="report-iframe">
      {% csrf_token %}
        <fieldset id="filter-account-fs">
        <legend for="filter-account-fs">Account</legend>
            {% for account in accounts %}
                <input type="checkbox" name="filter-account[]" id="filter-account-{{ account.id }}" 
                class="ui-checkbox" value={{ account.id }} checked="true">
                <label for="filter-account-{{ account.id }}">{{ account.name }}</label>
            {% endfor %}
        </fieldset>

        <fieldset id="filter-ttype-fs">
        <legend for="filter-ttype-fs">Type</legend>
            {% for ttype in ttypes %}
                <input type="checkbox" name="filter-ttype[]" id="filter-ttype-{{ ttype }}" 
                class="ui-checkbox" 
                value="{{ ttype }}" checked="true">
                <label for="filter-ttype-{{ ttype }}">{{ ttype }}</label>
            {% endfor %}
        </fieldset>

        <fieldset id="filter-category-fs">
        <legend for="filter-category-fs">Category</legend>
          <select name="filter-category" id="filter-category">
            {% for category in categorys %}
              {% if not category.subcategories.count %}
                <option data-section="{{ category.path }}" value="{{ category.id }}">{{ category.basename }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </fieldset>


        <fieldset id="filter-date-fs" class="form-group">
        <legend for="filter-date-fs">Date</legend>
          <div class="form-group row">
            <label for="filter-date-from" class="col-sm-2 col-form-label">From</label>
            <div class="col-sm-10">
              <input type="date" name="filter-date-from" id="filter-date-from" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="filter-date-to" class="col-sm-2 col-form-label">To</label>
            <div class="col-sm-10">
              <input type="date" name="filter-date-to" id="filter-date-to" class="form-control">
            </div>
          </div>
        </fieldset>
        <input type="submit" name="filter-submit-btn" class="btn btn-primary" value="Update Report">
      </form>
    </div>

  </div>

{% endblock %}