{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Report</title>

  <!--<link rel="stylesheet" type="text/css" href="{% static 'cashmgr/style.css' %}" /><html lang="en">-->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>    

  <style type="text/css">
    .cat_table_row_1 {
      font-size: 120%;
      font-weight: bold;
    }
    .cat_table_row_2 {
      font-size: 110%;
    }
    .cat_table_row_3 {
      font-size: 100%;
      font-style: italic;
    }
    .cat_table_row_4 {
      font-size: 90%;
      font-style: italic;
    }
    .cat_table_row_5 {
      font-size: 90%;
      font-style: italic;
    }
    
    .report-cat-toggle {
      font-size: 60%;
      font-style: italic;
    }
  </style>
 
  {% if hits != -1 %}
  <script>


  function componentToHex(c) {
    var hex = c.toString(16);
    return hex.length == 1 ? "0" + hex : hex;
  }

  function rgbToHex(r, g, b) {
    return "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);
  }

  function hsvToRgb(h, s, v) {
    var r, g, b;

    var i = Math.floor(h * 6);
    var f = h * 6 - i;
    var p = v * (1 - s);
    var q = v * (1 - f * s);
    var t = v * (1 - (1 - f) * s);

    switch (i % 6) {
      case 0: r = v, g = t, b = p; break;
      case 1: r = q, g = v, b = p; break;
      case 2: r = p, g = v, b = t; break;
      case 3: r = p, g = q, b = v; break;
      case 4: r = t, g = p, b = v; break;
      case 5: r = v, g = p, b = q; break;
    }

    return [ Math.floor(r * 255), Math.floor(g * 255), Math.floor(b * 255) ];
  }

  function createColorPalette(value) {
    palette = []
    var step = 1.0/(value+1);
    for( var i = step; i <= 1; i+=step) {
      rgb = hsvToRgb(i, 1, 1);    
      palette.push('rgba(' + rgb[0] + ',' + rgb[1] + ',' + rgb[2] + ',0.6)');
    }
    return palette;
  }

  function make_ralign_td(x,  attrs=""){
    return '<td style="text-align:right" ${attrs}>' + x + '</td>';
  }

// colspan="4"
  function make_td(x,  attrs=""){
    return `<td ${attrs}>${x}</td>`;
  }

  // this is a little bit of a mess to patch up
  // first, we want to create the tree
  function fillTreePaths(tree, path) {
    var curr = tree;
    for (var i = 0; i < path.length; i++) {
      if ( curr[path[i]] === undefined ) {
        curr[path[i]] = { _name : path[i], _parent : curr };
      } 
      curr = curr[path[i]];
    }
  }

  // next, we need to fill the values. 
  // we cannot do it before because we first need to know
  // if a node is a leaf, and we cannot tell
  // before building the tree 
  function fillTreeValues(tree, path, val) {
    var curr = tree; 
    for (var i = 0; i < path.length; i++) {
      if ( curr._total == undefined )
        curr._total = { in: 0.0, out: 0.0};
      curr._total.in += parseFloat(val.in);
      curr._total.out += parseFloat(val.out);
      // add a group id to each intermediate node if does not have one
      if (curr._gid === undefined) {
        fillTreeValues.maxgid += 1;
        curr._gid = fillTreeValues.maxgid;
      }
      curr = curr[path[i]];
    }
    var target = curr;
    if (Object.keys(target).filter(k => k[0] !== '_').length != 0) {
      // if the target it is not a leaf, create a dumb leaf node
      target._total.in += parseFloat(val.in);
      target._total.out += parseFloat(val.out);
      target['N/C'] = { 
        _total: { 
          in: val.in,
          out: val.out 
        }, 
        _name : 'N/C' ,
        _parent : target
      };
    } else {
      target['_total'] = { in: val.in, out: val.out };
    }
  }

  function toTree(amounts_by_category) {
    fillTreePaths.maxgid = 0;
    tree = { _name: 'all', _gid: 0};
    
    for(var key in amounts_by_category) {
      var path = key.split(':');
      fillTreePaths(tree, path);
    }

    fillTreeValues.maxgid = 0;
    for(var key in amounts_by_category) {
      var path = key.split(':');
      fillTreeValues(tree, path, amounts_by_category[key]);
    }
    return tree;
  }

  function toggleVisibility(node, change=true, show=undefined) {
    node = $(node);
    console.log('ctrl: ', node.attr('controls-group'));
    group = parseInt(node.attr('controls-group'));
    
    if (change === true) {
      var v = node.attr('group-visibility') === 'show' ? 'hide' : 'show';
      node.attr('group-visibility', v);
      node.text(v === 'show' ? '[collapse]' : '[expand]')
    }

    if (show === undefined) {
      show = node.attr('group-visibility');
    }

    var children = $(`tr[group-id=${group}]`);

    $.each(children, function(i, row){
      var link = $(row).find('a');
      if ( link.length == 0 ) {
        // if it is a leaf just hide or show
        if (show === 'show') {
          $(row).show();
        } else {
          $(row).hide();
        }
      } else if (show === 'show') {
        // if is a subgroup, and we are showing, we use the saved visibilities
        $(row).show();
        toggleVisibility($(link), false);
      } else {
        // if is a subgroup and we are hiding, we hide everything, and everything underneath
        $(row).hide();
        toggleVisibility($(link), false, 'hide');
        
      }

    });
    
  }

  function traverseTableNode(node, lvl) {
    
    var children_keys = Object.keys(node).filter(k => k[0] !== '_');
    var is_leaf = children_keys.length == 0;
    if (!is_leaf) {

      var toggle_link = `<span style="text-decoration:underline;">${node._name}</span> <a class="report-cat-toggle" controls-group="${node._gid}" group-visibility="show">[collapse]</a>`;
      var foot_attrs = `style="padding-left:${lvl*2}em;"`;
      var pgid = node._parent ? node._parent._gid : null;
      html = `<tr class="cat_table_row_${lvl}" group-id="${pgid}">${make_td(toggle_link, foot_attrs) + 
        make_ralign_td(node._total.in.toFixed(2)) +
        make_ralign_td(node._total.out.toFixed(2)) +
        make_ralign_td((node._total.in - node._total.out).toFixed(2))}</tr>`;
      
      //var head_attrs = `style="padding-left:${lvl*2}em;text-decoration:underline;" colspan="4"`;
      
      //html = `<tr class="cat_table_row_${lvl}">${make_td(node._name, head_attrs)}</tr>`
      for (var i = 0; i < children_keys.length; i++) {
        html += traverseTableNode(node[children_keys[i]], lvl + 1);
      }
      return html;
    } else {
      var head_attrs = `style="padding-left:${lvl*2}em"`;
      var pgid = node._parent ? node._parent._gid : null;
      return `<tr class="cat_table_row_${lvl}" group-id="${pgid}">${make_td(node._name, head_attrs) + 
        make_ralign_td(node._total.in.toFixed(2)) +
        make_ralign_td(node._total.out.toFixed(2)) +
        make_ralign_td((node._total.in - node._total.out).toFixed(2))}</tr>`;
    }
  }


  $(document).ready(function(){

    var by_category = {{ json_by_category }};
    var ts_income = {{ ts_income }};
    var ts_expenses = {{ ts_expenses }};

    bc_labels = [];
    bci_vals = [];
    bco_vals = [];

    // first sort the keys
    var sorted_keys = [];
    for(var key in by_category) {
        sorted_keys[sorted_keys.length] = key;
    }
    sorted_keys.sort();

    var cat_tree = toTree(by_category);
    $( 'table#by-category-table tbody' ).html(traverseTableNode(cat_tree, 1, [0]));

    // set collapse node callbacks
    $('.report-cat-toggle').on('click', function(evt){
      toggleVisibility(evt.target, true);
    });

    for (var i = 0; i < sorted_keys.length; ++i){
      var key = sorted_keys[i];
      // $( 'table#by-category-table tbody' ).append('<tr>' + make_td(key) +
      //                                 make_ralign_td(by_category[key].in.toFixed(2)) +
      //                                 make_ralign_td(by_category[key].out.toFixed(2)) +
      //                                 make_ralign_td(by_category[key].tot.toFixed(2)) + '</tr>');
      
      bc_labels.push(key);
      bci_vals.push(by_category[key].in.toFixed(2));
      bco_vals.push(by_category[key].out.toFixed(2));
    }
    $( 'table#by-category-table' ).append('<tr class="bg-warning">' + make_td("Total") +
                                  make_ralign_td({{ total_income|floatformat:2 }}) +
                                  make_ralign_td({{ total_expenses|floatformat:2 }}) +
                                  make_ralign_td({{ grand_total|floatformat:2 }}) + '</tr>');

    Chart.defaults.global.legend.display = false;

{% if total_expenses != 0 %}
    var bco_canvas = $('canvas#by-category-chart-expenses'); 
    var bcoChart = new Chart(bco_canvas, {
        type: 'pie',
        data: {
                labels: bc_labels,
                datasets: [{
                  label: 'Expenses',
                  data: bco_vals,
                  backgroundColor: createColorPalette(bc_labels.length),
                }]
        },
    });

{% endif %}
{% if total_income != 0 %}
    var bci_canvas = $('canvas#by-category-chart-income'); 
    var bciChart = new Chart(bci_canvas, {
        type: 'pie',
        data: {
                labels: bc_labels,
                datasets: [{
                  label: 'Expenses',
                  data: bci_vals,
                  backgroundColor: createColorPalette(bc_labels.length),
                  }]
        },
    });

{% endif %}

    ts_lbl = [];
    ts_exp_data = [];
    ts_inc_data = [];
    ts_dif_data = [];
    for (var i = 0; i < ts_expenses.length; ++i){
      ts_lbl.push(ts_expenses[i][0]);
      ts_exp_data.push(ts_expenses[i][1].toFixed(2));
      ts_inc_data.push(ts_income[i][1].toFixed(2));
      ts_dif_data.push((ts_income[i][1] - ts_expenses[i][1]).toFixed(2));
    }


{% if total_expenses != 0 %}
    var ts_exp_canvas = $('canvas#ts-expenses');
    var ts_exp_chart = new Chart(ts_exp_canvas, {
      type: 'bar',
      data: {
        labels: ts_lbl,
        datasets: [
          {
            label: "Expenses time series",
            data: ts_exp_data,
            backgroundColor: 'rgba(255, 206, 86, 0.8)',
            borderColor: 'rgba(255, 206, 86, 1)',
            borderWidth: 1,
          }],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false
      },
    });

{% endif %}

{% if total_income != 0 %}
    var ts_inc_canvas = $('canvas#ts-income');
    var ts_inc_chart = new Chart(ts_inc_canvas, {
      type: 'bar',
      data: {
        labels: ts_lbl,
        datasets: [
          {
            label: "Income time series",
            data: ts_inc_data,
            backgroundColor: 'rgba(75, 192, 192, 0.8)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1,
          }],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false
      },
    });
{% endif %}

    var ts_dif_canvas = $('canvas#ts-difference');
    var ts_dif_chart = new Chart(ts_dif_canvas, {
      type: 'bar',
      data: {
        labels: ts_lbl,
        datasets: [
          {
            label: "Balance time series",
            data: ts_dif_data,
            backgroundColor: 'rgba(75, 192, 192, 0.8)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1,
          }],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false
      },
    });
    
  });
  </script>
  {% endif %}
  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>

<div class="container">
{% if hits is not None %}
  {% if hits == -1 %}
  <div class="alert alert-warning">
  No transactions were found that match your query.
  </div>
  {% else %}

  <div class="row">
    <div class="col col-xs-10 col-sm-10">
      <h2>Activity Report</h2>
    </div>
    <div class="col col-xs-2 col-sm-2">
      <p class="text-right">
        <a href="" onclick='window.print();'> <span class="glyphicon glyphicon-print"></span> </a>
      </p>
    </div> 
  </div>

  <div class="row">
    <div class="col col-xs-10 col-sm-10">
      <h3><small>From {{ min_date }} to {{ max_date }}</small></h3>
    </div>
  </div>

  <div class="row">
    <div class="col col-xs-12 col-sm-12">
      <h5 style="display: inline-block;">Selected Accounts:</h5>
      {% for account in account_list %}
      <span class="label label-primary">{{ account }}</span>
      {% endfor %}
    </div>
  </div>

  <div class="row">
    <div class="col col-xs-12 col-sm-12">
      <h5 style="display: inline-block;">Transaction types:</h5>
      {% for ttype in ttype_list %}
      <span class="label label-primary">{{ ttype }}</span>
      {% endfor %}
    </div>
  </div>

  <div class="row">
    <div class="col col-xs-12 col-sm-12">
      <h5 style="display: inline-block;">Selected categories:</h5>
      {% if category_list|length > 20 %}
        <span class="label label-default">{{ category_list|length }} selected categories.</span>
      {% else %}
        {% for category in category_list %}
        <span class="label label-primary">{{ category }}</span>
        {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col col-xs-12 col-sm-12">
      <h5 style="display: inline-block;">Total transaction matching your query:</h5> 
      <span class="label label-default">{{ hits }} transactions.</span>
    </div>
  </div>

  <div class="row">
    <div class="col col-xs-12 col-sm-12">
      <h3>Total: {{ grand_total|floatformat:2 }}</h3>
      <ul>
        <li>Income: {{ total_income|floatformat:2 }}</li>
        <li>Expenses: {{ total_expenses|floatformat:2 }}</li>
      </ul>
    </div>
  </div>

  <hr />
  <div class="row">
    <div class="col col-xs-12 col-sm-12">
      <h3>Items by category</h3>
      <table class="table table-striped" id="by-category-table">
      <thead class="thead-inverse">
        <tr>
          <th>Category</th>
          <th style="text-align:right">Income</th>
          <th style="text-align:right">Expenses</th>
          <th style="text-align:right">Total</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
      </table>
    </div>
  </div>

  <hr />

  <div class="row">
  {% if total_expenses != 0 %}
    <div class="col col-xs-6 col-sm-6">
      <strong>Expenses by category</strong>
      <canvas id="by-category-chart-expenses" height="300px"></canvas>
    </div>
  {% endif %}
  {% if total_income != 0 %}
    <div class="col col-xs-6 col-sm-6">
      <strong>Income by category</strong>
      <canvas id="by-category-chart-income" height="300px"></canvas>
    </div>
  {% endif %}
  </div>

  <hr />

  <h3>Time Series</h3>

  <div class="row">
  {% if total_expenses != 0 %}
    <div class="col col-xs-12 col-sm-12">
      <strong>Expenses</strong>
      <div height="300px" width="100%">
        <canvas id="ts-expenses" height="300px" width="100%"></canvas>
      </div>
    </div>
  {% endif %}
  {% if total_income != 0 %}
    <div class="col col-xs-12 col-sm-12">
      <strong>Income</strong>
      <div height="300px" width="100%">
        <canvas id="ts-income"  height="300px" width="100%"></canvas>
      </div>
    </div>
  {% endif %}
  <div class="col col-xs-12 col-sm-12">
      <strong>Balance</strong>
      <div height="300px" width="100%">
        <canvas id="ts-difference"  height="300px" width="100%"></canvas>
      </div>
    </div>


    {% endif %}
  {% else %}
  <div class="alert alert-info">
    Use the form on the right to generate a report.
  </div>
  {% endif %}
</div> <!-- container -->
</div>
</body>
</html>