{% extends 'cashmgr/base.html' %}
{% load static %}

{% block title %}Transactions{% endblock %}

{% block head_block %}

<script src="{% static 'cashmgr/tviews_inline_change_callbacks.js' %}"></script>

<script>
  
  function updateRecord( obj ) {

    console.log('update', obj);
    // update transactions if on the page
    if ( obj.model == 'Transaction' ) {

      var row = $( "tr#transaction_" + obj.id );
      if (row) {

        var payee_edt = $('input.payeefield', row);
        var payee_id = obj.payee || '';
        var payee_name = obj.payee ? payees[ obj.payee ].name : '';

        payee_edt.attr('payee_id', obj.payee);
        payee_edt.val(payee_name);
        payee_edt.attr('valid_value', payee_name);

        var category_edt = $('input.categoryfield', row);
        var category_id = obj.category || '';
        var category_name = obj.category ? categories[ obj.category ].name : '';

        category_edt.attr('category_id', obj.category);
        category_edt.val(category_name);
        category_edt.attr('valid_value', category_name);

        if ( obj.incomplete == true )
          row.addClass("table-warning");
        else
          row.removeClass("table-warning");

        var ae = $( document.activeElement );
        if ( ae.is('input[type=edit]') ) {
          ae.select();
        }

      }

    } 

    // update payees
    if ( obj.model == 'Payee' ) {

      // update dictionary and names
      payees[ obj.id ] = obj;
      pnames = get_names(payees);

      // update name if changed
      $('input.payeefield[payee_id=' + obj.id + ']').val( obj.name ).attr( 'valid_value', obj.name );

    }

    // update categories
    if ( obj.model == 'Category' ) {

      // update dictionary
      categories[ obj.id ] = obj;
      cnames = get_names(categories);
      
      // update name if changes
      $('input.categoryfield[category_id=' + obj.id + ']').val( obj.name ).attr( 'valid_value', obj.name );

    }

  }

  
  $(document).ready(function() {

    setup_autocomplete_fields({
      payee_callback: edt_change_callback('payee'), 
      category_callback: edt_change_callback('category'),
      payee_names: payee_names,
      category_names: category_names,
    });

    $("a.delete_transaction").click(function() {
      var trans_id = $(this).attr('trans_id');
      confirm_dialog2({
        title: "Are you sure you want to delete this transaction?",
        text: $("tr#transaction_" + trans_id).html(),
        ok: function(){
          jQuery.ajax({
            url: '/cashmgr/delete/transaction/' + trans_id + '/',
            dataType: 'json',
            success: function(result) {
              if (result.status == "fail") {
                alert('a problem occourred deleting: ' + result.msg);
              } else {
                window.location.reload(false);
              }
            },
            async: false
          });
        },
        cancel: function(){},
        center_on: $("tr#transaction_" + trans_id),
      });
      return false;
    });

    // -- Message listener
    function listener(event) {
      
      console.log('listener', event.data);
      var msg = event.data;
      
      console.log('request', msg.request, msg.targets);
      if (msg.request == "update") {
      
        for (var i = 0; i < msg.targets.length; ++i) {
          
          updateRecord( msg.targets[ i ] );
             
        }

      }

    }
    // -- end message listener

    if ( window.addEventListener ) {

      addEventListener( "message", listener, false );

    } else {
      
      attachEvent("onmessage", listener)
    
    }

  }); // -- end ready() function
</script>

<style type="text/css">
    .form-inline label {
   margin:15px 3px;
}
</style>

{% endblock %}



{% block body_block %}

  <div class="row">
    <div class="col col-xs-12">
      <div class="page-header">
          <h1>Transactions</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-xs-12">
      <div class="btn-group" role="group">
        <a class="btn btn-info" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="fas fa-wrench"></i> Edit Filters</a>
      </div>
    </div>
  </div>


  <!-- Filters -->
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <div class="row">
        <div class="col">
          <h2>Filters</h2>
          <form method="get" action="/cashmgr/transactions/" target="_self" class="form-inline">
            <input type="hidden" name="page" value="{{ transactions.number }}">
            <input type="hidden" name="orderby" value="{{ orderby }}">
            <input type="hidden" name="orderdir" value="{{ orderdir }}">
            <div class="form-group">
              <label for="filter__account__id" {% if filter__account__id %}style="color:#4285F4"{% endif %}>Account</label>
              <select name="filter__account__id" id="filter__account__id" class="form-control">
                  <option value="None">-- All --</option>
                  {% for account in accounts %}
                      <option value="{{ account.id }}" {% if filter__account__id|add:"0" == account.id %}selected{% endif %}>{{ account.name }}</option>
                  {% endfor %}
              </select>
              <label for="filter__ttype" {% if filter__ttype %}style="color:#4285F4"{% endif %}>Type</label>
              <select name="filter__ttype" id="filter__ttype" class="form-control">
                  <option value="None">-- All --</option>
                  {% for ttype in ttypes %}
                      <option value="{{ ttype }}" {% if filter__ttype == ttype %}selected{% endif %}>{{ ttype }}</option>
                  {% endfor %}
              </select>
              <label for="filter__payee__id" {% if filter__payee__id %}style="color:#4285F4"{% endif %}>Payee</label>
              <select name="filter__payee__id" id="filter__payee__id" class="form-control">
                  <option value="None">-- All --</option>
                  {% for payee in payees %}
                      <option value="{{ payee.id }}" {% if filter__payee__id|add:"0" == payee.id %}selected{% endif %}>{{ payee.name }}</option>
                  {% endfor %}
              </select>

              <label for="filter__category__id" {% if filter__category__id %}style="color:#4285F4"{% endif %}>Category</label>
              <select name="filter__category__id" id="filter__category__id" class="form-control">
                  <option value="None">-- All --</option>
                  {% for category in categories %}
                      <option value="{{ category.id }}" {% if filter__category__id|add:"0" == category.id %}selected{% endif %}>{{ category.name }}</option>
                  {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="filter__date__from" {% if filter__date__from %}style="color:#4285F4"{% endif %}>From date</label>
              <input type="date" name="filter__date__from" id="filter__date__from" {% if filter__date__from %}value="{{ filter__date__from }}"{% endif %} class="form-control">
              <label for="filter__date__to" {% if filter__date__to %}style="color:#4285F4"{% endif %}>To date</label>
              <input type="date" name="filter__date__to" id="filter__date__to" {% if filter__date__to %}value="{{ filter__date__to }}"{% endif %} class="form-control">
            </div>

            <label for="filter__incomplete" {% if filter__incomplete %}style="color:#4285F4"{% endif %}>Assigned/Unassigned</label>
            <select name="filter__incomplete" id="filter__incomplete" class="form-control">
                <option value="None">-- All --</option>
                <option value="True" {% if filter__incomplete == "True" %}selected{% endif %}>Unassigned</option>
                <option value="False" {% if filter__incomplete == "False" %}selected{% endif %}>Assigned</option>
            </select>

            <button type="submit" name="flt-submit-btn" class="btn btn-info"><i class="fas fa-sync-alt"></i> Update Filters</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End filters -->

  <div class="row">
    <div class="col-sm-12">
      Active filters: <span class="text-info">{{ filters }}</span>
    </div>
  </div>

  {% if transactions %}

    <table class="table table-bordered table-hover table-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col">
              {% if orderby == 'account' %}
                  {% if orderdir == '-' %}
                      <i class="fas fa-chevron-up" aria-hidden="true"></i>
                  {% else %}
                      <i class="fas fa-chevron-down" aria-hidden="true"></i>
                  {% endif %}
              {% endif %}
              <a class="text-white" href="?{{ filter_get_str }}&orderby=account{% if orderby == 'account' %}&orderdir={{ iorderdir }}{% endif %}">Account</a>
          </th>

          <th scope="col">
              {% if orderby == 'ttype' %}
                  {% if orderdir == '-' %}
                      <i class="fas fa-chevron-up" aria-hidden="true"></i>
                  {% else %}
                      <i class="fas fa-chevron-down" aria-hidden="true"></i>
                  {% endif %}
              {% endif %}
              <a class="text-white" href="?{{ filter_get_str }}&orderby=ttype{% if orderby == 'ttype' %}&orderdir={{ iorderdir }}{% endif %}">Type</a>
          </th>

          <th scope="col">
              {% if orderby == 'date' %}
                  {% if orderdir == '-' %}
                      <i class="fas fa-chevron-up" aria-hidden="true"></i>
                  {% else %}
                      <i class="fas fa-chevron-down" aria-hidden="true"></i>
                  {% endif %}
              {% endif %}
              <a class="text-white" href="?{{ filter_get_str }}&orderby=date{% if orderby == 'date' %}&orderdir={{ iorderdir }}{% endif %}">Date</a>
          </th>

          <th scope="col" style="max-width: 50%">
            {% if orderby == 'description' %}
                {% if orderdir == '-' %}
                    <i class="fas fa-chevron-up" aria-hidden="true"></i>
                {% else %}
                    <i class="fas fa-chevron-down" aria-hidden="true"></i>
                {% endif %}
            {% endif %}
            <a class="text-white" href="?{{ filter_get_str }}&orderby=description{% if orderby == 'description' %}&orderdir={{ iorderdir }}{% endif %}">Description</a>
          </th>

          <th scope="col">
            {% if orderby == 'payee' %}
                {% if orderdir == '-' %}
                    <i class="fas fa-chevron-up" aria-hidden="true"></i>
                {% else %}
                    <i class="fas fa-chevron-down" aria-hidden="true"></i>
                {% endif %}
            {% endif %}
            <a class="text-white" href="?{{ filter_get_str }}&orderby=payee{% if orderby == 'payee' %}&orderdir={{ iorderdir }}{% endif %}">Payee</a>
          </th>

          <th scope="col">
            {% if orderby == 'category' %}
                {% if orderdir == '-' %}
                    <i class="fas fa-chevron-up" aria-hidden="true"></i>
                {% else %}
                    <i class="fas fa-chevron-down" aria-hidden="true"></i>
                {% endif %}
            {% endif %}
            <a class="text-white" href="?{{ filter_get_str }}&orderby=category{% if orderby == 'category' %}&orderdir={{ iorderdir }}{% endif %}">Category</a>
          </th>

          <th scope="col">
            {% if orderby == 'amount' %}
                {% if orderdir == '-' %}
                    <i class="fas fa-chevron-up" aria-hidden="true"></i>
                {% else %}
                    <i class="fas fa-chevron-down" aria-hidden="true"></i>
                {% endif %}
            {% endif %}
            <a class="text-white" href="?{{ filter_get_str }}&orderby=amount{% if orderby == 'amount' %}&orderdir={{ iorderdir }}{% endif %}">Amount</a>
          </th>
          
          <th scope="col">
            &nbsp;
          </th>

        </tr>
      </thead>

    {% for transaction in transactions %}
        <tr class="{% if transaction.is_incomplete %}table-warning{% endif %}" id="transaction_{{ transaction.id }}">
            <td> {{ transaction.account }} </td>
            <td> {{ transaction.ttype }} </td>
            <td> {{ transaction.date|date:"M d, Y" }} </td>
            <td> {{ transaction.description }} </td>
            <td> 
              <input type="edit" 
                name="payee_{{ transaction.id }}" 
                id="payee_{{ transaction.id }}" 
                class="payeefield" 
                value="{{ transaction.payee.name }}" 
                valid_value="{{ transaction.payee.name }}"
                chid="{{ transaction.id }}" 
                payee_id="{{ transaction.payee.id }}" /> 
            </td>
            <td> 
              <input type="edit" 
                name="category_{{ transaction.id }}" 
                id="category_{{ transaction.id }}" 
                class="categoryfield" 
                value="{{ transaction.category.name }}"
                valid_value="{{ transaction.category.name }}" 
                chid="{{ transaction.id }}"
                category_id="{{ transaction.category.id }}"> 
            </td>
            <td style="text-align: right;"> {{ transaction.amount }} </td>
            <td> 
                <a href="#" id="delete_transaction_{{ transaction.id }}" class="delete_transaction" trans_id="{{ transaction.id }}">
                    <i class="text-dark fas fa-trash" aria-hidden="true"></i> 
                </a>
            </td>
        </tr>
    {% endfor %}
    </table>


    {% if transactions.has_other_pages %}
      <nav aria-label="Page navigation" class="d-flex flex-row">
          <ul class="pagination justify-content-center">
              {% if transactions.has_previous %}
                  <li><a href="?{{ filter_get_str }}&page={{ transactions.previous_page_number }}&orderby={{ orderby }}&orderdir={{ orderdir }}">previous</a></li>
              {% endif %}
              {% for p in page_list %}
                  {% if p == transactions.number %}
                      <li class="page-item active"><span class="page-link">Page {{ p }} of {{ transactions.paginator.num_pages }}</span></li>
                  {% else %}
                      <li class="page-item"><a href="?{{ filter_get_str }}&page={{ p }}&orderby={{ orderby }}&orderdir={{ orderdir }}" class="page-link">{{ p }}</a></li>
                  {% endif %}
              {% endfor %}
              {% if transactions.has_next %}
                  <li><a href="?{{ filter_get_str }}&page={{ transactions.next_page_number }}&orderby={{ orderby }}&orderdir={{ orderdir }}">next</a></li>
              {% endif %}
          </ul>
      </nav>
    {% endif %}

  {% else %}
    <div class="alert alert-info">
    No transaction matches your query.
    </div>
  {% endif %}

{% endblock %}